[sources.journald_docker]
type = "journald"
include_units = [ "docker.service" ]

[sources.journald]
type = "journald"
exclude_units = [ "docker.service" ]

[sinks.journald_out]
type = "aws_cloudwatch_logs"
inputs = [ "journald" ]
group_name = "/aws/{{ qi_install_vector_project_name }}/journald"
region = "{{ qi_install_vector_aws_region }}"
stream_name = "{{ qi_install_vector_stream_name }}"
encoding.codec = "json"

[sinks.journald_docker_out]
type = "aws_cloudwatch_logs"
inputs = [ "journald_docker" ]
group_name = "/aws/{{ qi_install_vector_project_name }}/docker"
region = "{{ qi_install_vector_aws_region }}"
stream_name = "{{ qi_install_vector_stream_name }}"
encoding.codec = "json"
